# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Spring Boot
*.jar
*.war

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IMPORTANT (your addition)
application-local.properties
